*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Home{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.Content{
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;
  border: 1px solid #ccc;
}
.HeaderLogo{
  font-size: 32px;
  padding: 16px;
  margin: 0;
  cursor: pointer;
}
.Header{
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
}
.dropdown{
  padding: 16px;
}
.imgcard{
  width: 100%;
  height: 240px;
  image-rendering: pixelated;
   object-fit: fill; 
  object-position: cover;  
  transform: scale(0.9);
}
.Login{
  width: 500px;
  padding: 20px;
  /* height: 250px; */
  box-shadow: 0 4px 10px #ccc;
  border-radius: 4px;
}
.logins{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnlogin{
  float: right;
}
.btnheader{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ContentChild{
  
}
.cardblock{
  border: 1px solid #ccc;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.cards{
  width: 100%;
  padding: 100px;
}
.cards__img{
  width: 100%;
}
.cards__imgs{
  width: 50%;
  border-right: 1px solid #ccc;
}
.cards__content{
  /* border: 1px solid #ccc; */
  width: 50%;
}
.cards__price{
  font-size: 24px;
  padding: 10px;
 border-radius: 5px;
  background-color: rgb(93, 183, 93);
  width: fit-content;
  color: aliceblue;
  margin-left: 20px;
}
.cards__category{
  border: 1px solid #999;
  background-color: #ccc;
  padding: 8px ;
  margin: 20px;
  border-radius: 5px;
}
.cards__description{
  margin: 20px;
}
.btn{
  border-radius: 5px !important;
  margin: 0 0 20px 20px;
}
.soluong{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
span{
  margin-top: 20px;
}